name: CMake on multiple platforms

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      # Set fail-fast to false to ensure that feedback is delivered for all matrix combinations. Consider changing this to true when your workflow is stable.
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        build_type: [Release]
        c_compiler: [clang]
        include:
          - os: ubuntu-latest
            c_compiler: clang
            cpp_compiler: clang++
        exclude:
          - os: ubuntu-latest
            c_compiler: cl

    steps:
    - uses: actions/checkout@v4

    - name: Set reusable strings
      # Turn repeated input strings (such as the build output directory) into step outputs. These step outputs can be used throughout the workflow file.
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Install dependencies
      run: |
          sudo apt install -y libmlir-18-dev libmlir-18 mlir-18-tools
          sudo apt install -y python3-dev python3-numpy ninja-build libzstd-dev
          sudo apt install -y clang-18
          # Enable this on WSL2 Ubuntu: Fix LLVM header conflict (required for pybind11)
          # sudo mv /usr/lib/llvm-18/include/cxxabi.h /usr/lib/llvm-18/include/cxxabi.h.backup

    - name: Configure CMake
      run: cmake --preset x64-release

    - name: Build
      run: cmake --build --preset x64-release

    - name: Test
      run: |
          find . -path ./build -prune -o -name "*.py" -exec python3 {} \;
